<h1>Register Page</h1>
<form action="/auth/register" method="POST">
	<div>
    <label for="InputName">Name</label>
    <input type="text" id="InputName" name="name">
  </div>

	<div>
    <label for="InputEmail">Email</label>
    <input type="text" id="InputEmail" name="email">
  </div>

  <div>
    <label for="InputPassword">Password</label>
    <input type="text" id="InputPassword" name="password">
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Submit</button>

	<br><br>
	<button><a href="/auth/login">Sign in</a></button>

</form>
