.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1E262F;
    box-shadow: 0px -7px 16px rgba(30, 38, 47, 0.12);
    /*border-radius: 28px 28px 0px 0px;*/
    padding: 2px;
}