.range_datepicker-input {
    width: 100%;
    padding: 14px 20px;
    border: 1px solid rgba(30, 38, 47, 0.06);
    box-shadow: 2px 4px 4px rgba(30, 38, 47, 0.02);
    font-size: 14px;
    outline-color: #1E262F;
}
.range_datepicker-input--first {
    border-radius: 16px 0 0 16px;
}
.range_datepicker-input--last {
    border-radius: 0 16px 16px 0;
}
