.input-form label, .select-form label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
    color: #353535;
}
.input-form {
    margin-bottom: 8px;
}
.select-form {
    margin-bottom: 12px;
}
.input-form:last-child, .select-form:last-child {
    margin-bottom: 0;
}

.input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid rgba(30, 38, 47, 0.06);
    box-shadow: 2px 4px 4px rgba(30, 38, 47, 0.02);
    border-radius: 16px;
    font-size: 14px;
    outline-color: #1E262F;

}
.input::placeholder { /* Most modern browsers support this now. */
    color: rgba(53, 53, 53, 0.5);
    font-weight: 600;
}
