.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1.18889px solid rgba(30, 38, 47, 0.06);
    /* 2 */

    box-shadow: 0px 4px 20px rgba(30, 38, 47, 0.05), 2px 4px 80px rgba(30, 38, 47, 0.12);
    border-radius: 23.7778px;
    padding: 10px;
}
.card__header {
    padding: 24px 12px 14px 12px;
    border-bottom: 1px solid grey;
}
.card__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 12px;
}
.card__footer {
    padding: 16px 21px;
}

.card--info {
    border-radius: 12px;
    box-shadow: none;
}
