.ButtonIconic {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    /*padding: 10px;*/
    cursor: pointer;
}

.ButtonIconic svg {
    stroke: white;
}
.ButtonIconic--in-text {

}
.ButtonIconic--in-text svg {
    margin-right: 4px;
    scale: .9;
}
.ButtonIconic--in-text svg path {
    stroke: #bcbcbc;
}
