.app-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.app-bar-left {
    flex-direction: column;
    max-width: 250px;
    height: 100%;
    background-color: #1E262F;
    color: white;
}

.app-bar-left--active {
    flex-direction: column;
    max-width: 300px;
}