<h1>Create Post Page</h1>
<form action="/api/post" method="POST" enctype="multipart/form-data">
	<div>
		<label for="InputOrder">Order</label>
		<input type="text" id="InputOrder" name="order">
	</div>

	<div>
    <label for="InputTitle">Title</label>
    <input type="text" id="InputTitle" name="title">
  </div>

  <div>
    <label for="InputBody">Body</label>
    <input type="text" id="InputBody" name="body">
  </div>

	<!-- FILE -->
  <div>
    <label for="InputPhoto">Photo</label>
      <input type="file" accept="image/*" id="InputPhoto" name="photo">
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
