.Alert {
    width: 95%;
    position: absolute;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #3E6AD7;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1111111111;
}
.Alert--danger {
    background-color: #8e0000;
}
.Alert--loader {
    background: none;
}
