.box {
    padding: 0 20px;
    padding-top: 70px;
    padding-bottom: 145px;
    flex-grow: 1;
}
.box-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    padding: 10px 20px;
}