.box {
    height: 100%;
    padding: 0 20px;
    /*padding-bottom: 155px;*/
    /*padding-bottom: 210px;*/
    flex-grow: 1;
    /*overflow: auto;*/
}
.box--navbar {
    padding-top: 80px;
}
.box--menu {
    padding-bottom: 95px;
}
.box--yummy{
    padding-bottom: 165px;
}

.box--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.container {*/
/*    padding: 10px 20px;*/
/*}*/

.container {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}
.container--header {

}
