.button {
    color: #42b983;
    position: relative;
    border-radius: 99px;
    border: 1px solid #42b983;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
    cursor: pointer;
    margin-right: 1rem;
}

.button--primary {
    background: #42b983;
    color: #fff;
}

.button:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}