.awards {
    margin-top: 30px;
}
.awards__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-bottom: 20px;
    font-size: 14px;
}
.award__img {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 100px;
    margin-bottom: 10px;
}
.award__title {
    text-align: center;
}
