.btn {
    width: 100%;
    padding: 16px;
    font-family: var(--font-family-title);
    font-size: 16px;
    border: none;
    border-radius: 6px;
}
.btn-main {
    background-color: var(--color-second);
    /* color: white; */
}