.genres {
    margin-top: 20px;
    font-size: 14px;
}
.genres__wrapper {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.genre {
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid var(--color-second);
    border-radius: 100px;
}