:root {
	--color-main: #263f5f;
	--color-second: #fd7c33;
	--color-bg: #EBECED;
	/* --color-bg: #fffdfc; */
	--color-danger: #dc3545;
	--font-family-text: 'Manrope';
	--font-family-title: 'Manrope';
	--font-size-mobile: 14px;
	--font-size-title: 42px;
	--font-size-desktop: 16px;
}
/*
.tal {
    text-align: left;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family-text), sans-serif;
}

body {
	position: relative;
	background-color: var(--color-bg);
	height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}