.list {
    margin-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
.li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* margin-bottom: 10px; */
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(223, 223, 223);
}
.li:first-child {
    border-radius: 10px 10px 0 0;
}
.li:last-child {
    border-radius: 0 0 10px 10px;
}
.li:hover {
    background-color: #f8f8f8;
}
.li:last-child {
    margin-bottom: 0;
    border: none;
}
.li svg {
    transform: scale(0.55); 

}