.menu {
    position: fixed;
    bottom: 10px;
    right: 8px;
    width: 96%;
    margin-top: auto;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 80px;
    background-color: #071c3d;
    border-radius: 18px;
}
.menu__li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu__li svg {
    fill: #c0c0c0;
    transform: scale(0.65); 
}
.menu__li-active svg {
    fill: var(--color-second);
}
