.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* .profile .block:first-child {
    margin-right: 10px;
} */
.profile__avatar {
    width: 80px;
    height: 80px;
    background-color: var(--color-second);
    border-radius: 8px;
}
.profile__name {
    margin-top: 10px;
    font-family: var(--font-family-title);
    font-size: 24px;
}
.profile__username {
    margin-bottom: 10px;
}
