.section {
    margin-top: 20px;
}
.section__text {
    margin-top: 6px;
}

.section-editable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-editable span {
    font-size: 16px;
    color: var(--color-second);
    border-bottom: 1px solid var(--color-second);    
    cursor: pointer;
}


.section-auth {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auth {
    margin-top: 40px;
}