.ToggleButtonService {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 20px;
    border: 1px solid rgba(30, 38, 47, 0.06);
    /* card */
    box-shadow: 2px 4px 4px rgba(30, 38, 47, 0.02);
    border-radius: 16px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 8px;
}
.ToggleButtonService:last-child {
    margin-bottom: 0;
}
.ToggleButtonService:hover {
    background: rgb(252, 252, 252);
}
.ToggleButtonService-active {
    border: 2px solid #1E262F;
}
/* #services:checked ~ .service-item {
    border: 2px solid #1E262F;
} */

.ToggleButtonService__info {
    font-size: 14px;
}
.ToggleButtonService__icon {
    width: 36px;
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ToggleButtonService__title {
    font-weight: 600;
}
.ToggleButtonService__description {
    margin-top: 3px;
    font-size: 10px;
    color: #A3A5A6;
}