.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1E262F;
    box-shadow: 0px -7px 16px rgba(30, 38, 47, 0.12);
    border-radius: 0px 0px 28px 28px;
    color: white;
    padding: 16px;
    /*padding-top: 30px;*/
    z-index: 11;

    font-weight: 600;
    font-size: 18px;
}

.nav__center {
    width: 100%;
    text-align: center;
}