.BottomControl {
    position: fixed;
    bottom: 89px;
    left: 0;
    /*padding: 12px 20px 34px 20px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #ffffff;
    /* border: 6px solid #E3E4E6; */
    /*border-radius: 28px 28px 0px 0px;*/
    border-radius: 10px 10px 0px 0px;

}