.btn {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}
.btn-main {
    background-color: #1E262F;
    color: white;
}
.btn-second {
    background-color: #2086E5;
    color: white;
}