.promoland {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
}
.promoland__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.promoland__logo {
    margin-bottom: 50px;
}
.promoland__logo svg {
    scale: 2;
}
.promoland h1 {
    font-size: 40px;
    line-height: 120%;
    /* or 48px */
    color: #FFFFFF;
    text-align: center;
}
.promoland h2 {
    margin-top: 24px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.promoland a {
    color: black;
    text-decoration: none;

}

.promoland .promoland__btn {
    padding: 16px 26px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 15px;
}
.promoland__btn:last-child {
    margin-right: 0;
}