<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/adaptive.css">
</head>
<body>

<div class="phone_workflow">
    <div class="navbar">
        <div class="navbar__left backbtn-control">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 19.9201L8.47997 13.4001C7.70997 12.6301 7.70997 11.3701 8.47997 10.6001L15 4.08008" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="navbar__title">
            Имя консультанта
        </div>
        <div class="navbar__right info-control">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 8V13" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.9945 16H12.0035" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    <div class="container">
        <div class="chat_workflow phone_workspace">
            <div class="chat-day__wrapper">
                <div class="chat-day tac">
                    8 января
                </div>
            </div>
            <div class="chat-message">
                <div class="chat-message__text">
                    Для подтверждения  вашей заявки отправьте электронную копию вашего удостоверения
                </div>
                <div class="chat-message__time">
                    12 : 00
                </div>
            </div>
            <div class="chat-day__wrapper">
                <div class="chat-day tac">
                    Сегодня
                </div>
            </div>
            <div class="chat-message">
                <div class="chat-message__text">
                    Для подтверждения  вашей заявки отправьте электронную копию вашего удостоверения
                </div>
                <div class="chat-message__time">
                    12 : 00
                </div>
            </div>
            <div class="chat-message">
                <div class="chat-message__text">
                    Для подтверждения  вашей заявки отправьте электронную копию вашего удостоверения
                </div>
                <div class="chat-message__time">
                    12 : 00
                </div>
            </div>
            <div class="chat-message__wrapper">
                <div class="chat-message mymssg">
                    <div class="chat-message__text">
                        Для подтверждения  вашей заявки отправьте электронную копию вашего удостоверения
                    </div>
                    <div class="chat-message__time">
                        12 : 00
                    </div>
                </div>
            </div>
            <div class="chat-choice">
                <div class="cards">
                    <div class="card-item">
                        <div class="card-item__img">
                            <img src="img/hotelimg.png" alt="room image">
                        </div>
                        <div class="card-item__info">
                            <div class="card-item__name">
                                Название отеля
                            </div>
                            <div class="card-item__dopinfo">
                                <div class="card-item__rate">
                                        <span>
                                            <img src="img/star.png" alt="">
                                        </span>
                                    4.2
                                </div>
                                <div class="card-item__rooms">Комнат: <span class="roomsnum">1</span></div>
                            </div>
                            <div class="card-item__address">
                                    <span>
                                        <svg width="15" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9999 13.4299C13.723 13.4299 15.1199 12.0331 15.1199 10.3099C15.1199 8.58681 13.723 7.18994 11.9999 7.18994C10.2768 7.18994 8.87988 8.58681 8.87988 10.3099C8.87988 12.0331 10.2768 13.4299 11.9999 13.4299Z" stroke="#292D32" stroke-width="1.5"/>
                                            <path d="M3.61995 8.49C5.58995 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.38995 20.54C5.62995 17.88 2.46995 13.57 3.61995 8.49Z" stroke="#292D32" stroke-width="1.5"/>
                                        </svg>
                                    </span>
                                Адрес отеля
                            </div>
                            <div class="card-item__descr">
                                Описание комнаты. Описание комнаты Описание комнаты
                            </div>
                            <div class="card-item__price">
                                10 000 Т / ночь
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item__img">
                            <img src="img/hotelimg.png" alt="room image">
                        </div>
                        <div class="card-item__info">
                            <div class="card-item__name">
                                Название отеля
                            </div>
                            <div class="card-item__dopinfo">
                                <div class="card-item__rate">
                                        <span>
                                            <img src="img/star.png" alt="">
                                        </span>
                                    4.2
                                </div>
                                <div class="card-item__rooms">Комнат: <span class="roomsnum">1</span></div>
                            </div>
                            <div class="card-item__address">
                                    <span>
                                        <svg width="15" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9999 13.4299C13.723 13.4299 15.1199 12.0331 15.1199 10.3099C15.1199 8.58681 13.723 7.18994 11.9999 7.18994C10.2768 7.18994 8.87988 8.58681 8.87988 10.3099C8.87988 12.0331 10.2768 13.4299 11.9999 13.4299Z" stroke="#292D32" stroke-width="1.5"/>
                                            <path d="M3.61995 8.49C5.58995 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.38995 20.54C5.62995 17.88 2.46995 13.57 3.61995 8.49Z" stroke="#292D32" stroke-width="1.5"/>
                                        </svg>
                                    </span>
                                Адрес отеля
                            </div>
                            <div class="card-item__descr">
                                Описание комнаты. Описание комнаты Описание комнаты
                            </div>
                            <div class="card-item__price">
                                10 000 Т / ночь
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chat-choice__link link">
                    <div class="link__text">
                        Подобрать другой вариант
                    </div>
                </div>
            </div>

            <div class="chat-message">
                <div class="chat-message__text">
                    Для подтверждения  вашей заявки отправьте электронную копию вашего удостоверения
                </div>
                <div class="chat-message__time">
                    12 : 00
                </div>
            </div>
            <div class="chat-attach">
                <div class="btn btn-main btn-withicon">
                    <div class="btn__icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 7V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V7C3 4 4.5 2 8 2H16C19.5 2 21 4 21 7Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.5 4.5V6.5C14.5 7.6 15.4 8.5 16.5 8.5H18.5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8 13H12" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8 17H16" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <span>Прикрепить файлы</span>
                </div>
            </div>
            <div class="chat-download">
                <div class="chat-download__block"></div>
                <div class="chat-download__file">
                    File.name
                </div>
                <div class="chat-download__btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 11V17L11 15" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9 17L7 15" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22 10V15C22 20 20 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H14" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22 10H18C15 10 14 9 14 6V2L22 10Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="secondarytext">
                Этот чат был отправлен в архив как завершенный запрос. Чат доступен по ссылке “Архив” во вкладке “Мои заявки”. Для возобновления общения по данному запросу нажмите на активацию чата
            </div>
        </div>
    </div>
    <div class="chat__controlpanel chat__controlpanel-unarchive">
        <div class="chat-controls-unarchive">
            <div class="link tac">
                Активировать чат
            </div>
        </div>
        <!-- <div service="chat-controls__btn">
            <div service="btn btn-main btn-unactive">
                <span>Сделать выбор</span>
            </div>
        </div>
        <div service="chat-controls-panel">
            <div service="chat-controls-panel__left attach">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 10C10.1046 10 11 9.10457 11 8C11 6.89543 10.1046 6 9 6C7.89543 6 7 6.89543 7 8C7 9.10457 7.89543 10 9 10Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2.67001 18.9501L7.60001 15.6401C8.39001 15.1101 9.53001 15.1701 10.24 15.7801L10.57 16.0701C11.35 16.7401 12.61 16.7401 13.39 16.0701L17.55 12.5001C18.33 11.8301 19.59 11.8301 20.37 12.5001L22 13.9001" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div service="chat-controls-panel__input">
                <input type="text" service="chat__input" placeholder="Введите сообщение">
            </div>
            <div service="chat-controls-panel__right send">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 13.6041V10.2638C6 3.99992 8 4.00004 12.5305 6.49811L15.4204 8.17451L18.3103 9.85091C23 12.4997 23 14.4997 18.3103 17.3947L15.4204 19.0711L12.5305 20.7475C8 23 6 23 6 16.9444V13.6041Z" fill="#1E262F" fill-opacity="0.5"/>
                </svg>
            </div>
        </div> -->
    </div>
    <!-- <div service="menu">
        <div service="menu__wrapper">
            <ul service="menu__links">
                <li service="menu__li">
                    <div service="menu__icon">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.83325 11.6668H8.16659C10.4999 11.6668 11.6666 10.5002 11.6666 8.16683V5.8335C11.6666 3.50016 10.4999 2.3335 8.16659 2.3335H5.83325C3.49992 2.3335 2.33325 3.50016 2.33325 5.8335V8.16683C2.33325 10.5002 3.49992 11.6668 5.83325 11.6668Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.8333 11.6668H22.1666C24.4999 11.6668 25.6666 10.5002 25.6666 8.16683V5.8335C25.6666 3.50016 24.4999 2.3335 22.1666 2.3335H19.8333C17.4999 2.3335 16.3333 3.50016 16.3333 5.8335V8.16683C16.3333 10.5002 17.4999 11.6668 19.8333 11.6668Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.8333 25.6668H22.1666C24.4999 25.6668 25.6666 24.5002 25.6666 22.1668V19.8335C25.6666 17.5002 24.4999 16.3335 22.1666 16.3335H19.8333C17.4999 16.3335 16.3333 17.5002 16.3333 19.8335V22.1668C16.3333 24.5002 17.4999 25.6668 19.8333 25.6668Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.83325 25.6668H8.16659C10.4999 25.6668 11.6666 24.5002 11.6666 22.1668V19.8335C11.6666 17.5002 10.4999 16.3335 8.16659 16.3335H5.83325C3.49992 16.3335 2.33325 17.5002 2.33325 19.8335V22.1668C2.33325 24.5002 3.49992 25.6668 5.83325 25.6668Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </li>
                <li service="menu__li">
                    <div service="menu__icon">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.6666 7.29183V13.2418C25.6666 14.7235 25.1766 15.9718 24.3016 16.8352C23.4383 17.7102 22.7499 17.5002 22.1666 17.5002L21.5833 20.3935C21.5833 21.1868 19.2499 19.2502 18.1882 19.2151V14.4669C18.1882 12.0869 16.6016 10.5002 14.2216 10.5002H6.29991C6.13658 10.5002 5.98492 10.5119 5.83325 10.5235V7.29183C5.83325 4.31683 7.81659 2.3335 10.7916 2.3335H20.7083C23.6833 2.3335 25.6666 4.31683 25.6666 7.29183Z" stroke="white" stroke-opacity="0.8" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.1882 14.4667V19.215C18.1882 19.635 18.1416 20.0316 18.0366 20.3933C17.6049 22.1083 16.1816 23.1817 14.2216 23.1817H11.0483L7.52491 25.5267C6.99991 25.8883 6.29991 25.5033 6.29991 24.8733V23.1817C5.10991 23.1817 4.11825 22.785 3.42992 22.0967C2.72992 21.3967 2.33325 20.405 2.33325 19.215V14.4667C2.33325 12.25 3.70992 10.7217 5.83325 10.5234C5.98492 10.5117 6.13658 10.5 6.29991 10.5H14.2216C16.6016 10.5 18.1882 12.0867 18.1882 14.4667Z" stroke="white" stroke-opacity="0.8" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </li>
                <li service="menu__li">
                    <div service="menu__icon">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.7">
                            <path d="M15.6223 6.10938H23.509" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2.49121 6.11035H10.3779" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.6223 16.6074H23.509" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.6223 23.1719H23.509" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.5967 10.0423V2.1665" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2.49121 23.8334L10.3779 15.9575" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.3779 23.8334L2.49121 15.9575" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->
</div>


<script src="js/script.js"></script>
</body>
</html>