<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../frontend/src/css/style.css">
    <link rel="stylesheet" href="../frontend/src/css/adaptive.css">
</head>
<body>
    
    <div class="container">
        <div class="form-workflow">
            <div class="title">Выберите подходящий вариант</div>
            <div class="form4_component in_form_wrapper">
                <div class="worktypes">
                    <div class="work-card">
                        <div class="work-card__icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.1601 10.87C12.0601 10.86 11.9401 10.86 11.8301 10.87C9.45006 10.79 7.56006 8.84 7.56006 6.44C7.56006 3.99 9.54006 2 12.0001 2C14.4501 2 16.4401 3.99 16.4401 6.44C16.4301 8.84 14.5401 10.79 12.1601 10.87Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.15997 14.56C4.73997 16.18 4.73997 18.82 7.15997 20.43C9.90997 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.91997 12.73 7.15997 14.56Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>      
                        </div>
                        <div class="work-card__caption">Физ. лицо</div>
                        <div class="work-card__descr">Командировка за счет своих средств</div>
                    </div>
                    <div class="work-card">
                        <div class="work-card__icon">
                            <svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.5 10.74C27.41 10.725 27.305 10.725 27.215 10.74C25.145 10.665 23.495 8.97 23.495 6.87C23.495 4.725 25.22 3 27.365 3C29.51 3 31.235 4.74 31.235 6.87C31.22 8.97 29.57 10.665 27.5 10.74Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M25.955 21.66C28.01 22.005 30.275 21.645 31.865 20.58C33.98 19.17 33.98 16.86 31.865 15.45C30.26 14.385 27.965 14.025 25.91 14.385" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.45503 10.74C9.54503 10.725 9.65003 10.725 9.74003 10.74C11.81 10.665 13.46 8.97 13.46 6.87C13.46 4.725 11.735 3 9.59003 3C7.44503 3 5.72003 4.74 5.72003 6.87C5.73503 8.97 7.38503 10.665 9.45503 10.74Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11 21.66C8.94503 22.005 6.68003 21.645 5.09003 20.58C2.97503 19.17 2.97503 16.86 5.09003 15.45C6.69503 14.385 8.99003 14.025 11.045 14.385" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.5 21.9451C18.41 21.9301 18.305 21.9301 18.215 21.9451C16.145 21.8701 14.495 20.1751 14.495 18.0751C14.495 15.9301 16.22 14.2051 18.365 14.2051C20.51 14.2051 22.235 15.9451 22.235 18.0751C22.22 20.1751 20.57 21.8851 18.5 21.9451Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.135 26.67C12.02 28.08 12.02 30.39 14.135 31.8C16.535 33.405 20.465 33.405 22.865 31.8C24.98 30.39 24.98 28.08 22.865 26.67C20.48 25.08 16.535 25.08 14.135 26.67Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                        </div>
                        <div class="work-card__caption">Юр. лицо</div>
                        <div class="work-card__descr">Командировка за счет средств компании</div>
                    </div>
                </div>          
            </div>
            <div class="form-controls form-controls-done"> 
                <div class="btn btn-main btn-next">
                    <span>Далее</span>  
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4299 5.92993L20.4999 11.9999L14.4299 18.0699" stroke="#ffff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.5 12H20.33" stroke="#ffff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                           
                </div>
            </div>
        </div>
    </div>


    <script src="js/script.js"></script>
</body>
</html>