<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/adaptive.css">
</head>
<body>
    
    <div class="container">
        <div class="form-workflow1">
            <div class="form-controls">
                <div class="btn btn-secondary btn-prev mr-5">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4299 5.92993L20.4999 11.9999L14.4299 18.0699" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>  
                    <span>Назад</span>  
                </div>
                <div class="btn btn-main btn-next">
                    <span>Далее</span>  
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4299 5.92993L20.4999 11.9999L14.4299 18.0699" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>    
                </div>
            </div>

            <div class="title">Найдено 34 подходящих отелей</div>
            <div class="undertitle_text">Можете выбрать несколько вариантов</div>
            <div class="form4_component in_form_wrapper2">
                <div class="search">
                    <input type="text" class="search-input" placeholder="Найти">
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22 22L20 20" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </span>
                </div>
                <div class="cards">
                    <div class="card-item">
                        <div class="card-item__img">
                            <img src="img/hotelimg.png" alt="room image">
                        </div>
                        <div class="card-item__info">
                            <div class="card-item__name">
                                Название отеля
                            </div>
                            <div class="card-item__dopinfo">
                                <div class="card-item__rate">
                                    <span>
                                        <img src="img/star.png" alt="">
                                    </span>
                                    4.2
                                </div>
                                <div class="card-item__rooms">Комнат: <span class="roomsnum">1</span></div>
                            </div>
                            <div class="card-item__address">
                                <span>
                                    <svg width="15" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9999 13.4299C13.723 13.4299 15.1199 12.0331 15.1199 10.3099C15.1199 8.58681 13.723 7.18994 11.9999 7.18994C10.2768 7.18994 8.87988 8.58681 8.87988 10.3099C8.87988 12.0331 10.2768 13.4299 11.9999 13.4299Z" stroke="#292D32" stroke-width="1.5"/>
                                        <path d="M3.61995 8.49C5.58995 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.38995 20.54C5.62995 17.88 2.46995 13.57 3.61995 8.49Z" stroke="#292D32" stroke-width="1.5"/>
                                    </svg>
                                </span>
                                Адрес отеля
                            </div>
                            <div class="card-item__descr">
                                Описание комнаты. Описание комнаты Описание комнаты 
                            </div>
                            <div class="card-item__price">
                                10 000 Т / ночь
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item__img">
                            <img src="img/hotelimg.png" alt="room image">
                        </div>
                        <div class="card-item__info">
                            <div class="card-item__name">
                                Название отеля
                            </div>
                            <div class="card-item__dopinfo">
                                <div class="card-item__rate">
                                    <span>
                                        <img src="img/star.png" alt="">
                                    </span>
                                    4.2
                                </div>
                                <div class="card-item__rooms">Комнат: <span class="roomsnum">1</span></div>
                            </div>
                            <div class="card-item__address">
                                <span>
                                    <svg width="15" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9999 13.4299C13.723 13.4299 15.1199 12.0331 15.1199 10.3099C15.1199 8.58681 13.723 7.18994 11.9999 7.18994C10.2768 7.18994 8.87988 8.58681 8.87988 10.3099C8.87988 12.0331 10.2768 13.4299 11.9999 13.4299Z" stroke="#292D32" stroke-width="1.5"/>
                                        <path d="M3.61995 8.49C5.58995 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.38995 20.54C5.62995 17.88 2.46995 13.57 3.61995 8.49Z" stroke="#292D32" stroke-width="1.5"/>
                                    </svg>
                                </span>
                                Адрес отеля
                            </div>
                            <div class="card-item__descr">
                                Описание комнаты. Описание комнаты Описание комнаты 
                            </div>
                            <div class="card-item__price">
                                10 000 Т / ночь
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item__img">
                            <img src="img/hotelimg.png" alt="room image">
                        </div>
                        <div class="card-item__info">
                            <div class="card-item__name">
                                Название отеля
                            </div>
                            <div class="card-item__dopinfo">
                                <div class="card-item__rate">
                                    <span>
                                        <img src="img/star.png" alt="">
                                    </span>
                                    4.2
                                </div>
                                <div class="card-item__rooms">Комнат: <span class="roomsnum">1</span></div>
                            </div>
                            <div class="card-item__address">
                                <span>
                                    <svg width="15" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9999 13.4299C13.723 13.4299 15.1199 12.0331 15.1199 10.3099C15.1199 8.58681 13.723 7.18994 11.9999 7.18994C10.2768 7.18994 8.87988 8.58681 8.87988 10.3099C8.87988 12.0331 10.2768 13.4299 11.9999 13.4299Z" stroke="#292D32" stroke-width="1.5"/>
                                        <path d="M3.61995 8.49C5.58995 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.38995 20.54C5.62995 17.88 2.46995 13.57 3.61995 8.49Z" stroke="#292D32" stroke-width="1.5"/>
                                    </svg>
                                </span>
                                Адрес отеля
                            </div>
                            <div class="card-item__descr">
                                Описание комнаты. Описание комнаты Описание комнаты 
                            </div>
                            <div class="card-item__price">
                                10 000 Т / ночь
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item__img">
                            <img src="img/hotelimg.png" alt="room image">
                        </div>
                        <div class="card-item__info">
                            <div class="card-item__name">
                                Название отеля
                            </div>
                            <div class="card-item__dopinfo">
                                <div class="card-item__rate">
                                    <span>
                                        <img src="img/star.png" alt="">
                                    </span>
                                    4.2
                                </div>
                                <div class="card-item__rooms">Комнат: <span class="roomsnum">1</span></div>
                            </div>
                            <div class="card-item__address">
                                <span>
                                    <svg width="15" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9999 13.4299C13.723 13.4299 15.1199 12.0331 15.1199 10.3099C15.1199 8.58681 13.723 7.18994 11.9999 7.18994C10.2768 7.18994 8.87988 8.58681 8.87988 10.3099C8.87988 12.0331 10.2768 13.4299 11.9999 13.4299Z" stroke="#292D32" stroke-width="1.5"/>
                                        <path d="M3.61995 8.49C5.58995 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.38995 20.54C5.62995 17.88 2.46995 13.57 3.61995 8.49Z" stroke="#292D32" stroke-width="1.5"/>
                                    </svg>
                                </span>
                                Адрес отеля
                            </div>
                            <div class="card-item__descr">
                                Описание комнаты. Описание комнаты Описание комнаты 
                            </div>
                            <div class="card-item__price">
                                10 000 Т / ночь
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item__img">
                            <img src="img/hotelimg.png" alt="room image">
                        </div>
                        <div class="card-item__info">
                            <div class="card-item__name">
                                Название отеля
                            </div>
                            <div class="card-item__dopinfo">
                                <div class="card-item__rate">
                                    <span>
                                        <img src="img/star.png" alt="">
                                    </span>
                                    4.2
                                </div>
                                <div class="card-item__rooms">Комнат: <span class="roomsnum">1</span></div>
                            </div>
                            <div class="card-item__address">
                                <span>
                                    <svg width="15" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9999 13.4299C13.723 13.4299 15.1199 12.0331 15.1199 10.3099C15.1199 8.58681 13.723 7.18994 11.9999 7.18994C10.2768 7.18994 8.87988 8.58681 8.87988 10.3099C8.87988 12.0331 10.2768 13.4299 11.9999 13.4299Z" stroke="#292D32" stroke-width="1.5"/>
                                        <path d="M3.61995 8.49C5.58995 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.38995 20.54C5.62995 17.88 2.46995 13.57 3.61995 8.49Z" stroke="#292D32" stroke-width="1.5"/>
                                    </svg>
                                </span>
                                Адрес отеля
                            </div>
                            <div class="card-item__descr">
                                Описание комнаты. Описание комнаты Описание комнаты 
                            </div>
                            <div class="card-item__price">
                                10 000 Т / ночь
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item__img">
                            <img src="img/hotelimg.png" alt="room image">
                        </div>
                        <div class="card-item__info">
                            <div class="card-item__name">
                                Название отеля
                            </div>
                            <div class="card-item__dopinfo">
                                <div class="card-item__rate">
                                    <span>
                                        <img src="img/star.png" alt="">
                                    </span>
                                    4.2
                                </div>
                                <div class="card-item__rooms">Комнат: <span class="roomsnum">1</span></div>
                            </div>
                            <div class="card-item__address">
                                <span>
                                    <svg width="15" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9999 13.4299C13.723 13.4299 15.1199 12.0331 15.1199 10.3099C15.1199 8.58681 13.723 7.18994 11.9999 7.18994C10.2768 7.18994 8.87988 8.58681 8.87988 10.3099C8.87988 12.0331 10.2768 13.4299 11.9999 13.4299Z" stroke="#292D32" stroke-width="1.5"/>
                                        <path d="M3.61995 8.49C5.58995 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.38995 20.54C5.62995 17.88 2.46995 13.57 3.61995 8.49Z" stroke="#292D32" stroke-width="1.5"/>
                                    </svg>
                                </span>
                                Адрес отеля
                            </div>
                            <div class="card-item__descr">
                                Описание комнаты. Описание комнаты Описание комнаты 
                            </div>
                            <div class="card-item__price">
                                10 000 Т / ночь
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item__img">
                            <img src="img/hotelimg.png" alt="room image">
                        </div>
                        <div class="card-item__info">
                            <div class="card-item__name">
                                Название отеля
                            </div>
                            <div class="card-item__dopinfo">
                                <div class="card-item__rate">
                                    <span>
                                        <img src="img/star.png" alt="">
                                    </span>
                                    4.2
                                </div>
                                <div class="card-item__rooms">Комнат: <span class="roomsnum">1</span></div>
                            </div>
                            <div class="card-item__address">
                                <span>
                                    <svg width="15" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9999 13.4299C13.723 13.4299 15.1199 12.0331 15.1199 10.3099C15.1199 8.58681 13.723 7.18994 11.9999 7.18994C10.2768 7.18994 8.87988 8.58681 8.87988 10.3099C8.87988 12.0331 10.2768 13.4299 11.9999 13.4299Z" stroke="#292D32" stroke-width="1.5"/>
                                        <path d="M3.61995 8.49C5.58995 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.38995 20.54C5.62995 17.88 2.46995 13.57 3.61995 8.49Z" stroke="#292D32" stroke-width="1.5"/>
                                    </svg>
                                </span>
                                Адрес отеля
                            </div>
                            <div class="card-item__descr">
                                Описание комнаты. Описание комнаты Описание комнаты 
                            </div>
                            <div class="card-item__price">
                                10 000 Т / ночь
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <script src="js/script.js"></script>
</body>
</html>