<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../frontend/src/assets/css/style.css">
    <link rel="stylesheet" href="../frontend/src/assets/css/adaptive.css">
</head>
<body>
    
    <div class="container">
        <div class="form-workflow">
            <div class="title">Последняя деталь</div>
            <div class="form4_component in_form_wrapper">
                <div class="input-form">
                    <label for="people_quantity">ФИО *</label>
                    <input type="text" name="people_quantity" class="input input-choice" placeholder="Введите ваше полное имя">
                </div>  
                <div class="input-form">
                    <label for="people_quantity">Название комании *</label>
                    <input type="text" name="people_quantity" class="input input-choice" placeholder="Введите название компании">
                </div>  
                <div class="input-form">
                    <label for="people_quantity">Моб. телефон *</label>
                    <input type="text" name="people_quantity" class="input input-choice" placeholder="+7   (7 _ _)   _ _ _    _ _    _ _">
                </div>  
                <div class="input-form">
                    <label for="people_quantity">Электронная почта *</label>
                    <input type="text" name="people_quantity" class="input input-choice" placeholder="Введите вашу эл. почту">
                </div>  
            </div>
            <div class="form-controls form-controls-done"> 
                <div class="btn btn-main btn-next">
                    <span>Далее</span>  
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4299 5.92993L20.4999 11.9999L14.4299 18.0699" stroke="#ffff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.5 12H20.33" stroke="#ffff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                           
                </div>
            </div>
        </div>
    </div>


    <script src="js/script.js"></script>
</body>
</html>