/*.table {*/
/*    font-weight: 500;*/
/*    font-size: 12px;*/
/*    line-height: 16px;*/
/*    text-align: center;*/
/*}*/
/*.admin .table__body {*/
/*    margin-top: 22px;*/
/*}*/

/*.table__body {*/
/*    box-shadow: 2px 4px 40px rgba(30, 38, 47, 0.04);*/
/*    border-radius: 20px;*/
/*    background-color: white;*/
/*}*/

.table {
    width: 100%;
    border-collapse: collapse;
    /* box-shadow: 2px 4px 40px rgba(30, 38, 47, 0.04); */
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.06);
    border-spacing: 0;
    font-size: 14px;
    border-radius: 20px;
}
.table th, td {
    border: 1px solid rgba(30, 38, 47, 0.04);
    padding: 11px;
    border-bottom: 1px solid rgba(30, 38, 47, 0.1);
    border-top: 1px solid rgba(30, 38, 47, 0.1);
}
.table th {
    padding: 16px;
    font-weight: 700;
    color: white;
    background-color: rgb(26, 26, 26);
    border-color: rgb(51, 51, 51);
}

.table tr:last-child td {
    border-style: solid solid none solid;
}
.table tr td:first-child {
    border-style: solid solid none none;
}
.table tr td:last-child {
    border-style: solid none none solid;
}
.table tr:first-child th {
    border-style: none solid none none;
}
.table tr:first-child th:last-child {
    border-style: none none none none;
}
.table tr td:last-child {
    position: relative;
}
.table th:first-child {
    border-radius: 20px 0 0 0;
}
.table th:last-child {
    border-radius: 0 20px 0 0;
}
.table tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.table tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}