.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
    border: 1.2px solid rgba(41, 45, 50, 0.08);
    box-shadow: 0px 4px 20px rgba(69, 88, 111, 0.05), 2px 4px 80px rgba(69, 88, 111, 0.12);
    border-radius: 24px;

    z-index: 1111;
    padding: 20px;
    /*height: auto;*/
}

.Modal__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.Modal__content {
    /*height: 100%;*/
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(30, 38, 47, 0.4);
    backdrop-filter: blur(2px);
    z-index: 111;
    overflow: hidden;
}