.admin {
    background-color: #F5F6F7;
}

.admin .container {
    width: 1200px;
    margin: 0 auto;
}

.admin .container2 {
    width: 1116px;
    margin: 0 auto;
}

.admin table {
    width: 100%;
    border-collapse: collapse;
    /* box-shadow: 2px 4px 40px rgba(30, 38, 47, 0.04); */
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.06);
    border-spacing: 0;
    font-size: 14px;
    border-radius: 20px;
}
.admin th, td {
    border: 1px solid rgba(30, 38, 47, 0.04);
    padding: 11px;
    border-bottom: 1px solid rgba(30, 38, 47, 0.1);
    border-top: 1px solid rgba(30, 38, 47, 0.1);
}
.admin th {
    padding: 16px;
    font-weight: 700;
    color: white;
    background-color: rgb(26, 26, 26);
    border-color: rgb(51, 51, 51);
}

.admin tr:last-child td {
    border-style: solid solid none solid;
}
.admin tr td:first-child {
    border-style: solid solid none none;
}
.admin tr td:last-child {
    border-style: solid none none solid;
}
.admin tr:first-child th {
    border-style: none solid none none;
}
.admin tr:first-child th:last-child {
    border-style: none none none none;
}
.admin tr td:last-child {
    position: relative;
}
.admin th:first-child {
    border-radius: 20px 0 0 0;
}
.admin th:last-child {
    border-radius: 0 20px 0 0;
}
.admin tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.admin tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}
.context-menu {
    display: none;
    width: 147px;
    position: absolute;
    top: 50%;
    right: 40px;
    list-style: none;
    box-shadow: 0px 4px 12px rgba(30, 38, 47, 0.24);
    border-radius: 8px 0 8px 8px;
}
.context-menu-active {
    display: block;
}
.context-menu__li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgba(53, 53, 53, 0.04);
    backdrop-filter: blur(2px);
    cursor: pointer;
    
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}
.context-menu__li:hover {
    background-color: rgb(245, 245, 245);
}
.context-menu__li:first-child {
    border-radius: 8px 0 0 0;
}
.context-menu__li:last-child {
    border-radius: 0 0 8px 8px;
}

.table__body {
    box-shadow: 2px 4px 40px rgba(30, 38, 47, 0.04);
    border-radius: 20px;
    background-color: white;
}

.admin header {
    padding: 20px 0;
    background-color: white;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px 6px 6px -5px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 6px 6px -5px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 6px 6px -5px rgba(34, 60, 80, 0.1);
    z-index: 111;
}

.admin nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.dflex {
    display: flex;
}
.aic {
    align-items: center;
}
.jcsb {
    justify-content: space-between;
}
.admin .logo {
    width: 130px;
    margin-right: 36px;
}
.admin .logo img {
    width: 100%;
}
.admin .nav__left {
    display: flex;
    align-items: center;
}

.admin .menu-admin {
    display: flex;
    align-items: center;
    list-style: none;
}

.admin .menu-admin__li a {
    text-decoration: none;
    color: black;
}

.admin .menu-admin__li {
    margin-right: 40px;
}
.admin .menu-admin__li:last-child {
    margin-right: 0;
}
.menu-admin__li-active a {
    font-weight: 800;
}

.admin .user_avatar {
    width: 48px;
    height: 48px;
    background-color: grey;
    border-radius: 1000px;
    margin-left: 16px;
}

.admin .tab {
    list-style: none;

}
.admin .tab__li {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-right: 36px;

}
.admin .tab__li:last-child {
    margin-right: 0;
}
.admin .tab__li a {
    color: #1E262F;
    text-decoration: none;
}
.admin .tab__li-active {
    position: relative;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}
.admin .tab__li-active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

.color-danger {
    color: #c12828;
}
.color-success {
    color: #3EC128;
}
.color-primary {
    color: #287cc1;
}

.title-admin {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.admin .workflow {
    padding-bottom: 60px;
}
.admin .workflow__wrapper {
    padding-top: 25px;
}
.admin .tabs {
    margin-top: 16px;
    margin-bottom: 50px;
}

.admin .table {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.admin .table__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
}
.admin .table__body {
    margin-top: 22px;
}

.admin .orders {
    margin-top: 34px;
}


.admin .card {
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
    /* карточка */
    box-shadow: 2px 4px 40px rgba(30, 38, 47, 0.04);
    border-radius: 20px;
    margin-bottom: 16px;
    cursor: pointer;
}
.admin .card:last-child {
    margin-bottom: 0;
}
.admin .card-order {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.admin .card-order__header {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.admin .card-order__footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.admin .card-order__info {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}
.admin .card-order__status {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 35%;
}
.admin .info__title {
    font-weight: 600;
    font-size: 18px;
    color: #1E262F;
    margin-bottom: 8px;
}
.admin .info__date {
    font-weight: 500;
    font-size: 14px;
    color: #292D32;
    margin-bottom: 8px;
}
.admin .info__details {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #A3A5A6;
    margin-bottom: 12px;
}
.admin .info__client {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 36px;
}
.admin .info__client:last-child {
    margin-right: 0;
}
.admin .info__client::after {
    content: '';
    position: absolute;
    top: 6px;
    left: -50%;
    width: 4px;
    height: 4px;
    background-color: #D9D9D9;

}
.admin .info__client .logo-client {
    margin-right: 8px;

}
.admin .logo-client {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin .logo-client img {
    width: 100%;
}
.admin .status {
    padding: 6px;
    font-weight: 600;
    font-size: 14px; 
}
.admin .status-new {
    border-radius: 4px;
    background: rgba(62, 193, 40, 0.1);
    color: #3EC128;
}
.admin .status-primary {
    background: rgba(32, 134, 229, 0.1);
    color: #2086E5;
}
.admin .info__details span {
    position: relative;
    margin-right: 20px;
}
.admin .info__details span:last-child {
    margin-right: 0;
}
.admin .info__details span::after {
    content: '';
    position: absolute;
    top: 46%;
    right: -15px;
    width: 4px;
    height: 4px;
    background: #D9D9D9;
}
.admin .info__details span:last-child::after {
    display: none;
}


.admin .orders .card {
    width: calc(50% - 12px);
    margin-right: 24px;
    height: 100%;
}

.admin .orders .card:nth-child(2n) {
    margin-right: 0;
}
.admin .orders__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.admin .card-order__status span {
    margin-left: 16px;
    margin-bottom: 8px;
}

.admin .card-order__progress {
    margin-top: 12px;
    width: 100%;
}
.progressbar {
    position: relative;
    width: 100%;
    height: 8px;
    background: rgba(62, 106, 215, 0.08);
    border-radius: 4px;
}
.progress {
    height: 100%;
    background: #3E6AD7;
    border-radius: 4px;
}


.admin .menu__li a:hover, .tab__li a:hover {
    color: rgb(97, 97, 97);
}
.sign {
    background: #FFFFFF;
    box-shadow: 2px 4px 40px rgba(30, 38, 47, 0.04);
    border-radius: 20px;
}
.sign .btn {
    margin-top: 24px;
    width: 100%;
    padding: 16px;
}
.sign__body {
    padding-top: 36px;
    padding: 36px 20px 20px 20px;
}
.sign__tabs {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #292D32;
    font-weight: 400;
}
.sign__tabs .sign__tab {
    width: 100%;
    padding: 4px;
    cursor: pointer;
    border-bottom: 2px solid rgb(233, 232, 232);
}
.sign__tabs .sign__tab:hover {
    color: #242d37;
}
.sign__tab-active {
    border-bottom: 2px solid black !important;
    font-weight: 600;
}
.sign__logo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-fixed {
    width: 464px;
}
.sign__wrapper {
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
}